
<!--whole screen into left and right -->


<div class="flex">

<div class="w-64 h-screen bg-[#082C4A] text-white flex flex-col">

<!--sidebar -->

    <div class="flex items-center gap-3">
        <img src="/logo.png" class="w-40 h-26" alt="logo">
        <span class="text-2xl font-bold text-blue-500 "></span>
    </div>




    <nav class="flex flex-col mt-2">

        <a (click)="selected='dashboard'" class="flex items-center border-white rounded gap-3 px-5 py-3 mx-4 hover:bg-blue-700">
          <i class="fa-solid fa-house"></i> Dashboard
        </a>

        <a (click)="selected='patients'" class="flex items-center gap-3 px-5 py-3 border-white rounded hover:bg-blue-700 mx-4 active:bg-blue-700  ">

           <i class="fa-solid fa-user-injured"></i>
 patients
        </a>

        <a (click)="selected='doctors'" class="flex items-center gap-3 px-5 py-3 mx-4 border-white rounded hover:bg-blue-700">

          <i class="fa-solid fa-user-doctor"></i>
  doctors
        </a>

        <a (click)="selected='Appointments'" class="flex items-center border-white rounded gap-3 px-5 py-3 mx-4 hover:bg-blue-700">
          <i class="fa-solid fa-calendar-days"></i>
  Appointments
        </a>

        <a (click)="selected='Billing'" class="flex items-center gap-3 px-5 py-3 border-white rounded hover:bg-blue-700 mx-4 active:bg-blue-700  ">

          <i class="fa-solid fa-file-invoice-dollar"></i>
  Billing
        </a>

        <a (click)="selected='pharmacy'"  class="flex items-center gap-3 px-5 py-3 mx-4 border-white rounded hover:bg-blue-700">

          <i class="fa-solid fa-pills"></i>
  pharmacy
        </a>

        <a (click)="selected='Reports'" class="flex items-center border-white rounded gap-3 px-5 py-3 mx-4 hover:bg-blue-700">
          <i class="fa-solid fa-chart-line"></i>
  Reports
        </a>

        <a (click)="selected='Users'" class="flex items-center gap-3 px-5 py-3 border-white rounded hover:bg-blue-700 mx-4 active:bg-blue-700  ">

          <i class="fa-solid fa-users"></i>
  Users
        </a>

        <a (click)="selected='settings'" class="flex items-center gap-3 px-5 py-3 mx-4 border-white rounded hover:bg-blue-700">

           <i class="fa-solid fa-gear"></i>
 settings
        </a>
        <a (click)="logout()" class="flex items-center gap-3 px-5 py-3 mx-4 border-white rounded hover:bg-blue-700">

           <i class="fa-solid fa-right-from-bracket"></i> Logout
        </a>

    </nav>

</div>

<!--side section starts here -->

<div class="bg-blue-50 w-full h-screen">
  <!--welcome things -->
<div *ngIf="selected === 'dashboard'" class="mx-[3%] mt-[2%]">
        <p class="font-semibold text-black text-3xl">Welcome Back!</p>
        <p class="text-gray-600 mt-2">here's whats happening in your hospital</p>

        <div> <!--graphs and counts in same div -->
 <div class="flex "> <!--counts div -->
 <div class="bg-white border-white rounded-md h-[60] w-[30%] mt-6 mr-4 flex justify-between">
          <div>

            <p class="text-blue-400 text-xl pl-6 mr-4 pt-6">Total Patients</p>
            <p class="text-blue-500 pb-12 pt-6 pl-6 text-3xl">{{patientCount()}} </p>
          </div>
          <div>

            <i class="fa-solid fa-users text-blue-500 pt-10 mr-20 text-6xl" ></i>
          </div>
        </div>
        <div class="rounded-md bg-white h-[60] w-[30%] mt-6 mr-4 ml-6 flex justify-between">
          <div>

            <p class="text-green-500 text-xl pl-6 mr-4 pt-6">Total Appointments</p>
            <p class="text-green-500 pb-12 pt-6 pl-6 text-3xl">{{AppointmentCount()}} </p>
          </div>
          <div>

            <i class="fa-solid fa-calendar-days text-green-500 pt-10 mr-20 text-6xl"></i>
          </div>
        </div>
         <div class="rounded-md bg-white h-[60] w-[30%] mt-6 mr-4 ml-6 flex justify-between">
          <div>

            <p class="text-yellow-500 text-xl pl-6 mr-4  pt-6">Total Doctors</p>
            <p class="text-yellow-500 pb-12 pt-6 pl-6 text-3xl">{{doctorsCount()}} </p>
          </div>
          <div>

            <i class="fa-solid fa-calendar-days text-yellow-500 pt-10 mr-20 text-6xl"></i>
          </div>
        </div>
        
        </div>  
        <div class="flex" > <!--div for keepings graphs and recent appointments -->
          <div class="bg-white rounded-lg shadow p-6 mt-6 w-[40%]">
  <h2 class="text-xl ml-1 mb-4">Appointments Overview</h2>

  <canvas id="appointmentsChart"></canvas>
</div>

<div class="bg-white rounded-lg shadow p-6 mt-6 ml-4 w-[65%]"><!--recent appointments -->
    <h2 class="text-xl ml-1 mb-4">Recent Appointments </h2>
<div class="flex justify-between  pb-4">
  <h1 class="text-xl font-semibold text-gray-600" >Patient</h1>   <h1 class="text-xl font-semibold text-gray-600">Doctor</h1>   <h1 class="text-xl font-semibold text-gray-600">Date&Time</h1>   <h1 class="text-xl font-semibold text-gray-600">Status</h1> 
</div>
  <div class="flex justify-between border-b border-gray-300 pb-6 pt-6" *ngFor="let appointment of recentAppointments">
    <h1>{{appointment.patient.name}}</h1>
    <h1>{{appointment.doctor.name}}</h1>
    <h1>{{appointment.appointmentDate}}</h1>
    <h1
      class="rounded-md px-4 py-1 font-semibold"
      [ngClass]="{
        'bg-blue-100 text-blue-600': appointment.status === 'Scheduled',
        'bg-green-100 text-green-600': appointment.status === 'Completed',
        'bg-red-100 text-red-600': appointment.status === 'Cancelled'
      }"
    >
      {{appointment.status}}
    </h1>

</div>
<!-- <table >
    <tr *ngFor="let appointment of recentAppointments">

        <td>{{appointment.patient.name}}</td>

        <td>{{appointment.doctor.name}}</td>

        <td>{{appointment.appointmentDate}}</td>

        <td>{{appointment.status}}</td>

    </tr>
</table> -->
</div>

        </div>     
</div>
</div>

<div *ngIf="selected === 'patients'" class="mx-[3%] mt-[2%]"> <!--patients-->
<app-patients-comp></app-patients-comp>
</div>
</div>
</div>
