<div class="min-h-screen bg-slate-100 p-20">
    <div class="bg-white flex justify-between">
        <div class="pt-4 pl-10">
    <div class="flex m-7">
        <img src="/image.png" class="w-24 h-24">
        <div class="flex flex-col items-start m-4">
      <h1 class=" text-3xl font-bold">Hospital</h1>
        <h4 class = "text-blue-500 font-bold  text-xl">Management System</h4>
        </div>
  
    </div>

    <div class = "text-2xl font-bold ml-7 mt-10 font-normal">
    
    </div>
    <div class="flex flex-col gap-4 ml-7 mt-10">
       <h1 class="text-l font-semibold">Email</h1>
       <input type ="email" [(ngModel)]="email" placeholder="Enter Email" class="border border-gray-300 w-full h-10 pl-1"  />
       <h1 class="text-l font-semibold mt-10">Password</h1>
       <input type ="password"[(ngModel)]="password"  placeholder="Enter Password" class="border border-gray-300 w-full h-10 pl-1 "  />
        </div>

        <button (click)="signUp()" class="active:bg-blue-700 hover:bg-blue-600 border-white py-[2%] px-[28%] bg-blue-500 ml-[16%] mt-[16%]"><span class="text-white">SignUp</span></button>
        <p (click)="Login()" class="text-blue-500 ml-[57%] mt-[2%] hover:text-blue-700">back to Login?</p>


    </div>
<div class="w-[55%]">
    <img  class="w-full h-full object-cover" src="/vertical.png">
</div>
    </div>

</div>

